 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I graduated with a Bachelor of Science in Computer Science with honors in May 2018 from the University of Texas at Austin. I am currently working as a software engineer for Capital One.</p>
                </div>
                <div class="col-lg-4">
                    <p>Some of my passions are serving God, rock climbing, country two stepping, and using my code to make life easier. I love pentesting, finding solutions with AWS, and writing software. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="downloads/resume 11-17-2018.pdf" class="btn btn-lg btn-outline">
                        View Resume
                    </a>

                </div>
            </div>
        </div>
    </section>
